<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>Faker</title>
</head>
<body>
    <section id="cover">
        <video id="video" width="100%" height="100%" autoplay playsinline loop muted>
            <source src="/background-video1.mp4" type="video/mp4"/>
        </video>
    </section>


    <div class="card">

        <h1>Fake profile</h1>
        
        <img src="<%= profile.picture %>" alt="profile picture"/>
        <p>Name: <%= profile.name %> </p>
    
        <p>Birthday: <%= profile.birthday %></p>
        <p>Adress: <%= profile.adress %></p>
    </div>

    
</body>
</html>